<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вакансии</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14430444?query=Java">Senior Java Developer (Польша, Люблин)</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">DataArt Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/13790410?query=Java">Java/Android Technical Lead</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">Devart</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14388058?query=Java">Java Developer</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">Sigma Software</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14388244?query=Java">Senior Java Developer</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">Sigma Software</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14388323?query=Java">Middle Java Developer (Video Exchange Service)</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">Sigma Software</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14280701?query=Java">Java developer</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">ООО AML</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14317833?query=Java">JavaScript/GIS Developer</a></td>
        <td class="city">Харьков, Проспект Гагарина</td>
        <td class="companyName">Acceptic Ltd</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14318336?query=Java">.Net/JavaScript Developer</a></td>
        <td class="city">Харьков, Проспект Гагарина</td>
        <td class="companyName">Acceptic Ltd</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14309895?query=Java">Senior JavaScript Developer</a></td>
        <td class="city">Харьков, Проспект Гагарина</td>
        <td class="companyName">Acceptic Ltd</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14228294?query=Java">Web Developer (JavaScript/PHP)</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">Oracle Russia &amp; CIS</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14439371?query=Java">Требуется программист, С#,C++, Java.</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">Аквалюкс</td>
        <td class="salary">от 4&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/14197985?query=Java">(Senior) Java developer</a></td>
        <td class="city">Харьков</td>
        <td class="companyName">LuckyWare Pro</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company959/vacancy5165584">Senior Java Software Engineer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">SoftServe </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company1074/vacancy5826928">Lead Java Developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">EPAM / Epam Systems </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company53660/vacancy5586335">Senior Java Developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">NIX Solutions ltd. </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company2000547/vacancy5720966">Java developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">AML, OOO </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company853455/vacancy5730863">Java developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">Samurai </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company277662/vacancy5828769">Senior Java Developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">DataArt Профиль компании</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company81394/vacancy5562466">Java/Android Technical Lead</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">Devart </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company106609/vacancy5805909">Java Developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">Murano Software </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company106609/vacancy5805906">Lead Java Developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">Murano Software </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company461331/vacancy5834192">Java Team Lead</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">Akvelon </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company1477204/vacancy5832376">Java developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">Waverley Software </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company2029698/vacancy5826373">Java Software Engineer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">AgileEngine </td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company2058279/vacancy5821658">Middle/Senior Java Developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">HRMservice агентство</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://rabota.ua/company2086281/vacancy5821507">Middle Java developer</a></td>
        <td class="city">Харьков </td>
        <td class="companyName">Меркурис групп, ООО агентство</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
        <td class="title"><a href="url"></a></td>
        <td class="city"></td>
        <td class="companyName"></td>
        <td class="salary"></td>
    </tr>
    </tbody>
</table>
</body>
</html>